img {
height: 300px;
object-fit: cover;
}

#posts-new {
  text-align: center;
  padding: 30px;
}

body {
  background-color: antiquewhite !important;
    text-align: center !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  } 

  

